# MPLAB X Files
build
dist
debug
private

# KiCad Files

# Temporary files
LEDDriver-5V/*.000
LEDDriver-5V/*.bak
LEDDriver-5V/*.bck
LEDDriver-5V/*.LEDDriver-5V_pcb-bak
LEDDriver-5V/*~
LEDDriver-5V/_autosave-*
LEDDriver-5V/*.tmp
LEDDriver-5V/*-save.pro
LEDDriver-5V/*-save.LEDDriver-5V_pcb
LEDDriver-5V/fp-info-cache

# Netlist files (exported from Eeschema)
LEDDriver-5V/*.net

# Autorouter files (exported from Pcbnew)
LEDDriver-5V/*.dsn
LEDDriver-5V/*.ses

# Exported BOM files
LEDDriver-5V/*.xml
LEDDriver-5V/*.csv
